.config/configstore
.config/gatsby
.config/gcloud
.config/iterm2
.config/nvim/node_modules
.config/configstore/update-notifier-npm.json
.config/nvim/plugin/packer_compiled.lua

! .gitignore/*
! .git
! .git-prompt.sh

! .bashrc/*
! .bashprofile/*
! .config/nvim/*

! .vscode
! *.lua
