snippet ifn "if __name__ == "
if __name__ == "__main__":
    pass
endsnippet


snippet class "make class snippet"
class ${1:MyClass}(object):
    """Docstring for MyClass. """

    def __init__(self):
        """TODO: to be defined. """
        pass
endsnippet
