snippet ifn "if __name__ == "
if __name__ == "__main__":
    pass
endsnippet


snippet class "make class snippet"
class ${1:MyClass}(object):
    """Docstring for MyClass. """

    def __init__(self):
        """TODO: to be defined. """
        pass
endsnippet

snippet MOD "mod 1e9+7"
MOD = 1000000007
endsnippet

snippet input "sys.stdin.readline"
import sys

input = sys.stdin.readline
endsnippet
